<h1> Add your new game results here </h1>

<form action="/add_context" method="post">

  <label for="date">When was this game played?</label>
  <input type="date" name="date" />
<br>
  <label for="location">Where did you play?</label>
  <input type="text" name="location" placeholder="Stef's House" />
<br>
  <label for="players">How many players?</label>
  <input type="text" name="players_count" />
<br>
  <%# <label for="players">Who won?</label>
  <input type="text" name="winner" />
<br> %>
  
<input type="submit" value="Add player and ranking details">

</form>